.outline { outline: none; cursor: pointer; }
.outline:visited,
.outline:hover,
.outline:active,
.outline:focus { text-decoration: none; }

.img-fluid {
  max-width: inherit;
  height: 90%;
  display: block;
  outline: none;
}

.btn-link,
.btn-link:visited,
.btn-link:hover,
.btn-link:active,
.btn-link:focus { color: white; }
