<div fxLayout="column" class="py-5" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>Connexion</mat-card-title>
    <mat-card-content>
      <form [formGroup]="signinForm" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
        <mat-form-field>
          <input matInput type="text" formControlName="email" placeholder="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" formControlName="password" placeholder="mot de passe">
        </mat-form-field>
        <div class="text-danger" *ngIf="error">{{ error }}</div>
        <button mat-raised-button color="primary" (click)="trySignin()">Connexion</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
