<mat-toolbar color="primary" class="outline">
  <img routerLink="/" class="img-fluid" src="/assets/anouv.png" alt="Antoine Nouvene">
  <span fxFlex="auto"></span>
  <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" *ngIf="!jwtToken.isAuthenticated">
    <mat-icon matTooltip="Connexion" class="btn-link outline" routerLink="/login/signin">power_settings_new</mat-icon>
    <mat-icon matTooltip="Inscription" class="btn-link outline" routerLink="/login/signup">person_add</mat-icon>
  </span>
  <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" *ngIf="jwtToken.isAuthenticated">
    <mat-icon matTooltip="Profil" class="btn-link outline" routerLink="/profile">account_box</mat-icon>
    <mat-icon matTooltip="Déconnexion" class="btn-link outline" (click)="logout()">exit_to_app</mat-icon>
  </span>
</mat-toolbar>
